.footer {
    @include flex-between;
    font-size: 1.4rem;
    padding: 2.5rem 8rem;
    border-top: 1px solid $color-border;
    color: $color-primary;

    &__copyrigth {
        text-transform: uppercase;
    }
    
    &__socials ul {
        @include horisontal-list;
        text-transform: uppercase;

        & li:not(:last-child) {
            margin-right: 2rem;
        }
    }
}