#load-more-projects {
  grid-column: 1/4;
  text-align: end;
}

.btn {
  font-family: $font-primary;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  height: 8rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn-black {
  background-color: $color-primary;
  color: $color-font;

  &:hover {
    background-color: $color-primary-dark;
    // color: white;
  }
}

.btn-white {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.5rem;
  height: 5.5rem;
  color: $color-font;
  background-color: $color-bg;
  // border: 1px solid $color-black;
  
  &:hover {
    background-color: transparent;
    color: $color-bg;
    border: 1px solid $color-bg;;
  }
}