*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // font-size: 16px;
    font-size: 62.6%;
}

body {
  box-sizing: border-box;
  background-color: $color-bg;
}

a {
    color: inherit;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2323233f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.714);
  }
  